.contentBox {
  max-width: 750px;
  width: 100%;
  margin: 10px auto;
  background-color: #dedfe1;
  border-radius: 6px;
}
ul {
  list-style-type: none;
  padding: 10px;
}
.title {
  width: max-content;
  height: 35px;
  font-size: 16px;
  color: black;
  background-color: grey;
  border-radius: 8px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
